<h3>Recuperaci&oacute;n de password</h3>

Le enviamos este correo desde <b>UPO Rate</b> por que hemos recibido una petici칩n de restauraci&oacute;n de contrase침a.<br><br>
Nuestras constrase침as estan cifradas por lo tanto no podemos recuperarla, le enviamos su nueva contrase침a:  <b>{{ pass }}<b><br>
<br>
-- Saludos cordiales --
<br>




